h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #007bff;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    color: #444;
    text-align: center;
    background: #f8f9fa;
    padding: 12px 20px;
}

